body {
	background-color: #444;
	color: #161616;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

#container {
	width: 1000px;
	margin: 0px auto 20px auto;
	background-color: #FFF;
	border-radius: 0px 0px 10px 10px;
}

header {
	padding: 20px 0px;
	margin: 0px 20px;
	border-bottom: 5px solid #161616;
}

#content {
	padding: 10px 20px;
}

.center {
	text-align: center;
}

#canvasHolder {
	width: 800px;
	height: 600px;
	margin: 10px auto;
	border: 1px solid #161616;
}

#graphingGraphicJSCanvas {
	
}

footer {
	padding: 20px 0px;
	margin: 0px 20px;
	border-top: 5px solid #161616;
}

.clearfloat {
	clear: both;
}
